* {
  border: none;
  border-radius: 0;
  font-family: "0xProto Nerd Font Propo";
  font-size: 12px;
  min-height: 0;
}

window#waybar {
  background: transparent;
}

#workspaces {
  margin-top: 4px;
  margin-left: 2px;
  margin-right: 2px;
}

#workspaces button {
  color: #d5c4a1; /* fg */
  padding: 2px 8px;
  margin: 0 2px;
  font-size: 14px;
  background: #1d2021; /* bg */
  border-radius: 4px;
  border: 1px solid rgba(146, 131, 116, 0.2); /* gray */
}

#workspaces button.active {
  background: #32302f; /* darker bg shade */
  border: 1px solid rgba(146, 131, 116, 0.6); /* gray */
}

#pulseaudio,
#network,
#cpu,
#memory,
#temperature,
#battery,
#clock,
#tray,
#custom-power,
#custom-swaylock,
#custom-suspend,
#custom-hibernate,
#custom-reboot,
#custom-exit_hyprland {
  background: #1d2021; /* bg */
  padding: 2px 8px;
  margin-left: 2px;
  margin-right: 2px;
  margin-top: 4px;
  border-radius: 4px;
  border: 1px solid rgba(146, 131, 116, 0.2); /* gray */
}

#custom-swaylock,
#custom-suspend,
#custom-hibernate,
#custom-reboot,
#custom-exit_hyprland {
  font-size: 14px;
  color: #d5c4a1; /* fg */
}

#custom-swaylock {
  color: #83a598; /* blue */
}

#custom-suspend {
  color: #d3869b; /* purple */
}

#custom-hibernate {
  color: #b8bb26; /* green */
}

#custom-exit_hyprland {
  color: #fb4934; /* red */
}

#custom-reboot {
  color: #83a598; /* blue */
}

#pulseaudio,
#tray {
  color: #d5c4a1; /* fg */
}

#custom-power {
  margin-right: 10px;
  color: #fb4934; /* red */
}

#cpu,
#memory,
#temperature {
  color: #d5c4a1; /* fg */
}

#network {
  color: #d3869b; /* purple */
}

#battery {
  color: #fabd2f; /* yellow */
}

#battery.charging {
  color: #b8bb26; /* green */
}

#battery.warning:not(.charging) {
  color: #fe8019; /* orange */
}

#battery.critical:not(.charging) {
  color: #fb4934; /* red */
}

#clock {
  color: #83a598; /* blue */
}

#custom-expand,
#custom-endpoint {
  background: #1d2021; /* bg */
  padding: 2px 8px;
  margin-left: 2px;
  margin-right: 2px;
  margin-top: 4px;
  border-radius: 4px;
  color: #d5c4a1; /* fg */
  border: 1px solid rgba(146, 131, 116, 0.2); /* gray */
}

#wlr-taskbar {
  background: #1d2021; /* bg */
  padding: 2px 8px;
  margin-left: 2px;
  margin-right: 2px;
  margin-top: 4px;
  border-radius: 4px;
  border: 1px solid rgba(146, 131, 116, 0.2); /* gray */
}

#wlr-taskbar.active {
  background: #32302f; /* darker bg shade */
  border: 1px solid rgba(146, 131, 116, 0.6); /* gray */
}
