* {
  font-family: 0xProto Nerd Font;
  font-size: 10pt;
}

window {
  margin: 0px;
  border: 1px solid #928374; /* gray */
  background-color: #1d2021; /* bg */
  border-radius: 8px;
}

#input {
  margin: 5px;
  border: none;
  background-color: #1d2021; /* bg */
  color: #d5c4a1; /* fg */
}

#inner-box {
  margin: 5px;
  border: none;
  background-color: transparent;
}

#outer-box {
  margin: 0px;
  border: none;
  background-color: transparent;
}

#scroll {
  margin: 0px;
  border: none;
}

#text {
  margin: 5px;
  border: none;
  color: #d5c4a1; /* fg */
}

#entry {
  border-radius: 5px;
}

#entry:selected {
  background-color: #928374; /* gray */
}

window {
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.33);
}
